/* stile base*/
* {box-sizing: border-box;}
html{background-color: white; scroll-behavior: smooth;}
body{font-family: 'Inter', sans-serif;}
body,html{padding: 0; margin: 0;}
a{text-decoration: none;}

.contenitore{max-width: 2200px; margin: auto; background-color: rgb(255, 255, 255); overflow-x: hidden ;}

h1,h2,h3,h4,h5,h6, p{color: #000; padding-bottom: 30px;}

p{line-height: 20px; color: #666; font-variant: 300px;}
.giga-text{font-size: 120px; font-weight:bold;}
.big-text{font-size: 60px; font-weight:bold;}
.mid-text{font-size: 30px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold;}



.button{padding: 18px 28px; background-color: aqua; color: black; display: inline-block; border-radius: 4px;}




.tw{color: white}

/* header*/

.header{
    position: fixed;
    width:100%;
    margin: auto;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0,0,0, 1), rgba(0,0,0, 1));
    max-width: 2200px;
    box-shadow: 0px 0px 100px #000000;
  
        
    
}

.ham{display: none; z-index: 2;}


ul {margin-block-start: 0; margin-block-end: 0;padding-inline-start: 0px;display: block;list-style-type: disc;margin-inline-start: 0px;margin-inline-end: 0px;}

.menu{ justify-content: space-around;  display: flex; padding: 20px 0;}
.menu li{border-radius: 5px; background-color: #000000; transition: .5s;  }
.menu li a{ padding: 15px; display: block; color: #e0e0e0; }


.menu li:hover {background-color: rgb(255, 255, 255); transform: scale(1.1); padding: 0px 20px;}
.menu li a:hover{ color: black;}
.logo{width: 20%;  display: none;}
.logo__img{width: 100%;}



/* hero*/

.hero{
    height: 100vh;
    display: flex; width: 100%; align-items: top;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/gwen.jpg');
    background-size: cover  ;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 5px 5px 100px 5px #000000;
    }
.hero__content h1{ text-align: center;   }
.hero__content{
 
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
   
}

.hero__content p{color: white; text-align: center}


/* ! poster */

.poster{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;

}
.poster__img:hover{transform: scale(0.9);}
.poster__content{width: 35%; padding:50px; transition: .5s;}
.poster__content h3{text-align: center;}
.poster__img{width: 65%; height: 100vh;box-shadow: 5px 5px 5px 5px #000000;transition: .5s;}
.immagine-poster{object-fit: cover; width: 100%; height: 100%;}
th{
    text-align: left;
    border: 1px solid red;
}
tr{
    text-align: center;
}


/* ! tabella*/

.tabella_personaggi {table-layout: fixed; width: 90%; padding: 50px; border: 2px solid black; border-collapse: collapse; margin: auto; margin-top: 100px;   }
.tabella_personaggi caption {margin:0 auto; text-align: center; padding: 50px 0px; font-size: 60px; font-weight:bold;}
.tabella_personaggi th{border: 1px solid rgb(0, 0, 0);padding: 20px; text-align: center; font-size: 40px;}
.tabella_personaggi td{border: 1px solid rgb(0, 0, 0);padding: 20px; text-align: center; font-size: 15px;}

table{margin: auto;}
/* ! poster elenco*/


.poster-elenco{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    margin-bottom: 100px;
    
    
    
}
.poster__img-elenco:hover{transform: scale(0.9);}
.poster__content-elenco{width: 30%; padding:50px; padding-top: 0; padding-bottom: 0%;}
.poster__content-elenco h3{text-align: center; padding-top: 0px; margin-top: 20px; padding-bottom: 0; margin-bottom: 0;}
.poster__img-elenco{width: 70%; height: cover;   box-shadow: -5px 5px 5px 5px #000000;transition: .5s;}
.poster__content-elenco p{font-size: 15px; text-align: center;}



    
.divisore{display: none;}





/* ! grid */

.grid{display: flex; max-width: 1350px; padding: 0 30px; margin: 0 auto; }
.grid .col{width: 100%;}
.grid .col-dx{width: 100%; margin: auto;}





/* ! carousel */

.main-carousel{padding-top: 40px; padding-bottom: 40px; padding-left: 10px;transition: .5s;margin-bottom: 60px;}


.main-carousel:hover{transform: scale(1.1);}

.bandle-city-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/bandle-city.jpg');
    background-size: cover  ;
    margin-right: 20px;
    
}
.bilgewater-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/bilgewater.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.demacia-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/demacia.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.ionia-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/ionia.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.frejlord-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/frejlord.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.isola-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/isole_ombra.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.ixtal-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/ixtal.jpeg');
    background-size: cover  ;
    margin-right: 20px;
}
.noxus-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/noxus.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.piltover-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/piltover.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.shurima-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/shurima.png');
    background-size: cover  ;
    margin-right: 20px;
}
.targon-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/targon.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.void-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/void.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.zaun-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/zaun.jpg');
    background-size: cover  ;
    margin-right: 20px;
}


/* ! hero per varie pagine */

.hero-bandlecity{
    height: 110vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/bandle-city.jpg');
    background-size: cover  ; 
    margin-top: 60px;
}
.hero-bilgewater{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/bilgewater.jpg ');
    background-size: cover  ;
}
.hero-demacia{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/demacia.jpg');
    background-size: cover  ;
}
.hero-frejlord{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/frejlord.jpg ');
    background-size: cover  ;
}
.hero-ionia{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/ionia.jpg');
    background-size: cover  ;
}
.hero-isoleombra{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/isole_ombra.jpg ');
    background-size: cover  ;
}
.hero-ixtal{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/ixtal.jpeg ');
    background-size: cover  ;
}
.hero-noxus{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/noxus.jpg ');
    background-size: cover  ;
}
.hero-piltover{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/piltover.jpg ');
    background-size: cover  ;
}
.hero-shurima{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/shurima.png ');
    background-size: cover  ;
}
.hero-targon{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/targon.jpg ');
    background-size: cover  ;
}
.hero-void{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/void.jpg ');
    background-size: cover  ;
}
.hero-zaun{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/zaun.jpg ');
    background-size: cover  ;
}





footer{
  
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding-top: 50;
    padding-bottom: 50;
}
.footer__content{
    width: 100%;
}

.footer__content h3, p{
    text-align: center;
}




.s{font-weight: bolder;}
/* ! telefono orizzontale */

@media (max-width:958px) {
    .hero-bandlecity{
        height: 100vh;
        display: flex; width: 100%; align-items: center;
        background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/bandle-city.jpg');
        background-size: cover  ; 
        margin-top: 60px;
        padding: 0 10px 0 10px;
    }
    
    .hero-bandlecity h1{padding-top: 20px;}
    
    
    p{padding: 0 5px 0 5px;}


    .main-carousel{margin-top: 100px;  flex-wrap: wrap;}
    .contenitore_tabella{height: fit-content; display: block; border: 0px solid red;  }
    .poster{flex-wrap: wrap;height: auto;}
    .poster__img,
    .poster__content{width: 50%; height: auto;}
    .poster__img{width: 50%; height: 100vh;}
    .poster__content h3{font-size: 20px;}
    .hero {padding-top: 10%; padding-bottom: 20%;}
    .hero__content{width: 100%; padding-bottom: 10px; padding-top: 20px;}
    .hero__content p{font-size: 15px; text-align: center;}
    .big-text{font-size: 20px; padding-bottom: 0%;} 
    .hero__content h1{text-align: center; color: white; margin-bottom: 20px; margin-top: 0px;}
    .header{height: 20%;}
    .logo__im{width:min-content}
    .giga-text{font-size: 35px}
    .mt-3{margin-top: 100px}
    .grid .col h3{text-align: center;}
    .header{position: fixed ; height: fit-content;}
    .menu li:hover {background-color: rgb(175, 175, 175); transform: scale(0.8); padding: 0px 10px;}
    .menu{
        background-color: #000;
        position: fixed;
        width: 100%; height: min-content;
        transition: all 1s cubic-bezier(.215, .61, .355, 1); 
        padding: 10px;
        margin:  0 0 10px;

      
    
    }
    .menu li{display: block; text-align: center; width: 50%; margin: auto; margin: 0 10px; }
    .menu a{font-size: 10px;}
    .mt-6{margin-top: 20px;}
    .contenitore_tabella{height: fit-content; margin-bottom: 200px;}
    .poster__content-elenco{width: 50%; height: auto;}
    .poster__img-elenco{width: 50%; height: 220vh; margin: auto;}
    .tabella_personaggi {table-layout: fixed; width: 100%; padding: 50px; border: 0px solid rgb(255, 255, 255); border-collapse: collapse; }
    table{border-collapse: collapse;}
}

/* ! telefono verticale */
@media (max-width: 768px) {
    
    .tabella_personaggi {table-layout: fixed; width: 100%; padding: 0%; border-collapse: collapse;}
    .menu li:hover {background-color: rgb(175, 175, 175); transform: scale(0.8); padding: 0px 10px;}
    .menu{
        background-color: #000;
        position: fixed;
        width: 100%; height: min-content;
        transition: all 1s cubic-bezier(.215, .61, .355, 1); 
        padding: 10px;
        margin:  0 0 10px;

      
    
    }
    .menu li{display: block; text-align: center; width: 50%; margin: auto; margin: 0 10px; }
    .menu a{font-size: 10px;}
    table{margin: auto; border-collapse: collapse; padding: 0;}

    .tabella_personaggi {table-layout: fixed; width: 90%; border-collapse: collapse;  }
    .tabella_personaggi caption {text-align: center; font-size: 60px; font-weight:bold; font-size: 40px;}
    .tabella_personaggi th{padding: 20px 0px 20px 0px; text-align: center;border-collapse: collapse; font-size: 13px   ;}
    .tabella_personaggi td{border: 1px solid rgb(0, 0, 0);padding: 20px; text-align: center; font-size: 10px; }
    .contenitore_tabella{height: 100vh;}

    .poster__content-elenco{width: 50%; height: auto;}
    .poster__img-elenco{display: none;}

   


    
    .logo__im{width: 30%;}

    .hero__content{padding: 15px;}
    .giga-text{font-size: 45px;}
    .big_text{font-size: 40px; font-weight:bold;}
    .mid_text{font-size: 20px;}
    .normal-text{font-size: 17px;}
    .small-text{font-size: 14px;}

    h1{text-align: center;}

    .poster{
        flex-wrap: wrap;
        height: auto;
    

    }
    .poster__img,
    .poster__content{width: 100%; height: auto;}
    .poster__content h3{font-size: 20px;}
    .hero {padding-top: 25%; padding-bottom: 20%;}
    .hero__content{width: 100%; padding-bottom: 10px; padding-top: 20px;}
    .hero__content p{font-size: 15px; text-align: center;}
    .big-text{font-size: 20px; padding-bottom: 0%;} 
    .hero__content h1{text-align: center; color: white; margin-bottom: 20px; margin-top: 0px;}
    .grid{
        flex-wrap: wrap;
      }
    .poster__content-elenco{width: 100%;}
    .poster__img-elenco{width: 100%;}
    .divisore{display: block; background:  url('immagini/demacia.jpg'); background-size: cover;  width: 100%; height: 25%;box-shadow: -5px 5px 5px 5px #000000;}
/* ! helpers */
    .mt-1{margin-top: 5px;}
    .mt-2{margin-top: 10px;}
    .mt-3{margin-top: 15px; }
    .mt-4{margin-top: 25px; }
    .mt-5{margin-top: 100px; }
        

}



/* ! helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px; }
.mt-4{margin-top: 250px; }
.mt-6{margin-top: 400;}
.mt-5{margin-top: 1000px; }


*
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

