/* stile base*/
* {box-sizing: border-box;}
html{background-color: white; scroll-behavior: smooth;}
body{font-family: 'Inter', sans-serif;}
body,html{padding: 0; margin: 0;}
a{text-decoration: none;}

.contenitore{max-width: 2200px; margin: auto; background-color: rgb(255, 255, 255); overflow-x: hidden ;}

h1,h2,h3,h4,h5,h6, p{color: #000; padding-bottom: 30px;}

p{line-height: 20px; color: #666; font-variant: 300px;}
.giga-text{font-size: 120px; font-weight:bold;}
.big-text{font-size: 60px; font-weight:bold;}
.mid-text{font-size: 30px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold;}



.button{padding: 18px 28px; background-color: aqua; color: black; display: inline-block; border-radius: 4px;}




.tw{color: white}

/* header*/

.header{
    position: fixed;
    width:100%;
    margin: auto;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0,0,0, 1), rgba(0,0,0, 1));
    max-width: 2200px;
    box-shadow: 0px 0px 100px #000000;
  
        
    
}

.ham{display: none; z-index: 2;}


ul {margin-block-start: 0; margin-block-end: 0;padding-inline-start: 0px;display: block;list-style-type: disc;margin-inline-start: 0px;margin-inline-end: 0px;}

.menu{ justify-content: space-around;  display: flex; padding: 20px 0;}
.menu li{border-radius: 5px; background-color: #000000; transition: .5s;  }
.menu li a{ padding: 15px; display: block; color: #e0e0e0; }


.menu li:hover {background-color: rgb(255, 255, 255); transform: scale(1.1); padding: 0px 20px;}
.menu li a:hover{ color: black;}
.logo{width: 20%;  display: none;}
.logo__img{width: 100%;}



/* hero*/

.hero{
    height: 100vh;
    display: flex; width: 100%; align-items: top;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/gwen.jpg');
    background-size: cover  ;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 5px 5px 100px 5px #000000;
    }
.hero__content h1{ text-align: center;   }
.hero__content{
 
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
   
}

.hero__content p{color: white; text-align: center}


/* ! poster */

.poster{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;

}

.poster__content{width: 35%; padding:50px;}
.poster__content h3{text-align: center;}
.poster__img{width: 65%; height: 100vh;box-shadow: 5px 5px 5px 5px #000000;}
.immagine-poster{object-fit: cover; width: 100%; height: 100%;}



/* ! poster elenco*/


.poster-elenco{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    margin-bottom: 100px;
    
    
    
}
.poster__content-elenco{width: 30%; padding:50px; padding-top: 0; padding-bottom: 0%;}
.poster__content-elenco h3{text-align: center; padding-top: 0px; margin-top: 20px; padding-bottom: 0; margin-bottom: 0;}
.poster__img-elenco{width: 70%; height: cover;   box-shadow: -5px 5px 5px 5px #000000;}
.poster__content-elenco p{font-size: 15px; text-align: left;}



    
.divisore{display: none;}





/* ! grid */

.grid{display: flex; max-width: 1350px; padding: 0 30px; margin: 0 auto; }
.grid .col{width: 100%;}
.grid .col-dx{width: 100%; margin: auto;}





/* ! carousel */

.main-carousel{padding-top: 40px; padding-bottom: 40px; padding-left: 10px;}




.bandle-city-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/bandle-city.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.bilgewater-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/bilgewater.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.demacia-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/demacia.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.ionia-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/ionia.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.frejlord-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/frejlord.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.isola-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/isole_ombra.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.ixtal-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/ixtal.jpeg');
    background-size: cover  ;
    margin-right: 20px;
}
.noxus-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/noxus.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.piltover-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/piltover.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.shurima-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/shurima.png');
    background-size: cover  ;
    margin-right: 20px;
}
.targon-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/targon.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.void-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/void.jpg');
    background-size: cover  ;
    margin-right: 20px;
}
.zaun-cell{
    height: 350px;
    width: 350px; 
    background-color: #666;
    border-radius: 100%;
    line-height: 350px;
    text-align: center;
    margin-right: 40px;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2), rgba(0,0,0, 0.6)), url('immagini/zaun.jpg');
    background-size: cover  ;
    margin-right: 20px;
}


/* ! hero per varie pagine */

.hero-bandlecity{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/bandle-city.jpg');
    background-size: cover  ;
}
.hero-bilgewater{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/bilgewater.jpg ');
    background-size: cover  ;
}
.hero-demacia{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/demacia.jpg');
    background-size: cover  ;
}
.hero-frejlord{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/frejlord.jpg ');
    background-size: cover  ;
}
.hero-ionia{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/ionia.jpg');
    background-size: cover  ;
}
.hero-isoleombra{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/isole_ombra.jpg ');
    background-size: cover  ;
}
.hero-ixtal{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/ixtal.jpeg ');
    background-size: cover  ;
}
.hero-noxus{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/noxus.jpg ');
    background-size: cover  ;
}
.hero-piltover{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/piltover.jpg ');
    background-size: cover  ;
}
.hero-shurima{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/shurima.png ');
    background-size: cover  ;
}
.hero-targon{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/targon.jpg ');
    background-size: cover  ;
}
.hero-void{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/void.jpg ');
    background-size: cover  ;
}
.hero-zaun{
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0, 0.9), rgba(0,0,0, 0.8)), url('immagini/zaun.jpg ');
    background-size: cover  ;
}





footer{
  
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding-top: 50;
    padding-bottom: 50;
}
.footer__content{
    width: 100%;
}

.footer__content h3, p{
    text-align: center;
}





/* ! telefono orizzontale */

@media (max-height:58px) {

    .poster{flex-wrap: wrap;height: auto;}
    .poster__img,
    .poster__content{width: 100%; height: auto;}
    .poster__content h3{font-size: 20px;}
    .hero {padding-top: 10%; padding-bottom: 20%;}
    .hero__content{width: 100%; padding-bottom: 10px; padding-top: 20px;}
    .hero__content p{font-size: 15px; text-align: center;}
    .big-text{font-size: 20px; padding-bottom: 0%;} 
    .hero__content h1{text-align: center; color: white; margin-bottom: 20px; margin-top: 0px;}
    .header{height: 20%;}
    .logo__im{width:min-content}
    .giga-text{font-size: 35px}
    .mt-3{margin-top: 100px}
    .grid .col h3{text-align: center;}
    .header{position: fixed ;}
    .menu{position: absolute; top: 0; right:-150%;background: linear-gradient(0deg, rgba(0,0,0, 0.8), rgba(0,0,0, 0.5 )), url('immagini/bilgewater.jpg');
        background-size: cover;width: 20%; height: 100vh;padding-top: 80px;transition: all 1s cubic-bezier(.215, .61, .355, 1); border-left: 10px solid rgb(255, 255, 255); overflow-y: hidden;}
    .menu li{display: block; text-align: center; width: 50%; margin: auto; margin-top: 25%; z-index: 10; }
    .ham{display: block;width: 30px;height: 30px;position: fixed;top: 25px;right: 40px ;}
    .ham span{display: block;margin-bottom: 5px;height: 3px;width: 100%;background: white;}
    .menu--open{right: 0; margin: 0;}
    .contenitore{border: 0px solid red;}
    .menu li:hover {background-color: rgb(175, 175, 175); transform: scale(1.1); padding: 0px 20px;}
  
    
}

/* ! telefono verticale */
@media (max-width: 768px) {
   

    .menu li:hover {background-color: rgb(175, 175, 175); transform: scale(0.8); padding: 0px 10px;}
    .menu{
        background-color: #000;
        position: fixed;
        width: 100%; height: min-content;
        transition: all 1s cubic-bezier(.215, .61, .355, 1); 
        padding: 10px;
        margin:  0 0 10px;

      
      
    }
    .menu li{display: block; text-align: center; width: 50%; margin: auto; margin: 0 10px; }
    .menu a{font-size: 10px;}


   


    
    .logo__im{width: 30%;}

    .hero__content{padding: 15px;}
    .giga-text{font-size: 45px;}
    .big_text{font-size: 40px; font-weight:bold;}
    .mid_text{font-size: 20px;}
    .normal-text{font-size: 17px;}
    .small-text{font-size: 14px;}

    h1{text-align: center;}

    .poster{
        flex-wrap: wrap;
        height: auto;
    

    }
    .poster__img,
    .poster__content{width: 100%; height: auto;}
    .poster__content h3{font-size: 20px;}
    .hero {padding-top: 25%; padding-bottom: 20%;}
    .hero__content{width: 100%; padding-bottom: 10px; padding-top: 20px;}
    .hero__content p{font-size: 15px; text-align: center;}
    .big-text{font-size: 20px; padding-bottom: 0%;} 
    .hero__content h1{text-align: center; color: white; margin-bottom: 20px; margin-top: 0px;}
    .grid{
        flex-wrap: wrap;
      }
    .poster__content-elenco{width: 100%;}
    .poster__img-elenco{width: 100%;}
    .divisore{display: block; background:  url('immagini/demacia.jpg'); background-size: cover;  width: 100%; height: 25%;box-shadow: -5px 5px 5px 5px #000000;}
/* ! helpers */
    .mt-1{margin-top: 5px;}
    .mt-2{margin-top: 10px;}
    .mt-3{margin-top: 15px; }
    .mt-4{margin-top: 25px; }
    .mt-5{margin-top: 100px; }
        

}



/* ! helpers */

.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px; }
.mt-4{margin-top: 250px; }
.mt-5{margin-top: 1000px; }


*
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

